$icomoon-font-path: "./fonts" !default;

$sdk-icon-home: "\e900";
$sdk-icon-label-ADMIN: "\ea9e";
$sdk-icon-label-GM: "\ea9f";
$sdk-icon-label-MOD: "\eaa0";
$sdk-icon-label-NEW: "\eaa1";
$sdk-icon-label-VETERAN: "\eaa2";

