.m-share-frame {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    height: 80vh;
    width: 90vw;
    user-select: none !important;
    -webkit-appearance:none !important;
    appearance:none !important;
    border:0 !important;
    background-color: white;
    border-radius: dp(10);
    overflow: hidden;
  }
}
//隐藏addthis的插件按钮
.at-share-dock-outer{
  display: none;
}


