
.m-tab {
  height: $size-header;
  user-select: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  //counter-reset: tab-item;
  transition: color,background-color .3s ease;
  .m-tab-item {
    //counter-increment: tab-item;
    //
    //content: counter(tab-item);
    height: inherit;
    @include flex(1);
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    word-break: break-all;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    position: relative;
    transition: color .3s ease;
    &.active{
      &:after {
        left: 10%;
        width: 80%;
        transform: scale(1, 1);
      }
    }
    &:after {
      position: absolute;
      transition: transform .3s ease;
      bottom: 0;
      left: 10%;
      height: 2px;
      content: ' ';
      display: block;
      background-color: transparent;
      width: 80%;
      transform: scale(0, 1);
    }
  }

  //皮肤
  &.dark {
    background-color: $color-primary;
    .m-tab-item {
      color: white;
      &.active{
        color: $color-info;
        &:after {
          background-color: $color-info;
        }
      }
    }

  }
    background-color: white;
    .m-tab-item {
      color: $color-akima;
      &.active{
        color: $color-info;
        &:after {
          background-color: $color-info;
        }
      }
    }
  //横版
  &.m--landscope{
    width: 10rem;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
    @include no-scrollbar;
    padding: 0.5rem 0;
    .m-tab-item{
      flex: none;
      height:4rem ;
    }
  }
}
