@mixin bg-button(
    $url-left,
    $url-center,
    $url-right,
    $url-active-left,
    $url-active-center,
    $url-active-right
) {
    background-image:
        url('#{$assetsPath}#{$url-left}'),
        url('#{$assetsPath}#{$url-right}'),
        url('#{$assetsPath}#{$url-center}');
    background-position: left 100%, right 100%, center 100%;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: contain,contain, contain;
    //是否需要active的按钮
    @if($url-active-left){
        &:active,
        &.active{
            background-image:
                url('#{$assetsPath}#{$url-active-left}'),
                url('#{$assetsPath}#{$url-active-right}'),
                url('#{$assetsPath}#{$url-active-center}');
            background-position: left 100%, right 100%, center 100%;
            background-repeat: no-repeat, no-repeat, repeat-x;
            background-size: contain,contain, contain;
        }
        //预加载hack
        &:after {
            background-image:
                url('#{$assetsPath}#{$url-active-left}'),
                url('#{$assetsPath}#{$url-active-right}'),
                url('#{$assetsPath}#{$url-active-center}');
        }
    }
}

@mixin bg-active-button(
    $url,
    $url-active,
    $background-size: contain
){
    background-image: url('#{$assetsPath}#{$url}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: $background-size;
    //是否需要active的按钮
    @if($url-active){
        &:active,
        &.active{
            background-image: url('#{$assetsPath}#{$url-active}');
            background-position: center;
            background-repeat: no-repeat;
            background-size: $background-size;
        }
        //预加载hack
        &:after {
            background-image: url('#{$assetsPath}#{$url-active}');
        }
    }
}



