
$c-stoneGray: #7f7f7f;
$c-content: #4a1f0f;
$c-dayima: #c11700;
$c-text: #2e2e2e;
$c-skin: #d2c09e;
$c-shit: #ab9c5e;
$c-spark: #89612f;
$c-handler: #896c51;
$c-danger: #FF442B;
$c-warning: #fb8f0e;
$c-success: #0fae09;
$c-info: #329fff;


$color-primary: #141926;
$color-danger: #FF442B;
$color-warning: #fb8f0e;
$color-success: #0fae09;
$color-info: #329fff;
$color-dust: #FFFCF3;
$color-dark: #000000;
$color-akima: #949494;
$color-kimula: #F7F7F7;
$color-bomula: #dedede;
$color-yesterday: #E9EBEC;
$color-shabina:#E1E1E1;
$color-darksteel: #9F925F;
$color-skin: #d2c09e;
$color-sleep: #F5FAFE;
$color-younglady: #FF9A9A;
$color-youngboy: #82CEF3;
$color-spring: #73DCBF;
$color-redbone: #FD5D48;

$--color-primary: getColor(deeppurple, A200);

$--shadow-primary: getElevation(3);

